<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: lightgray">
    <div class="container">
      <div class="pt-5">
        <div class="card" style="height: 400px">
          <div class="card-body">
              <div class="bot-message text-white rounded bg-secondary m-2 p-1">
                Hi
              </div>
              <div class="user-message text-white rounded bg-primary m-2 p-1">
                Hello
              </div>
              <div>{{ value }}</div>
          </div>
        </div>
        <br>
        <input
          type="text"
          class="form-control"
          placeholder="Enter question here...."
        />
      </div>
    </div>
  </body>
</html>
