<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="pt-5 text-center">
        <input
          type="text"
          class="form-control border border-primary"
          placeholder="Paste the URL of any site"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <h5 class="p-2 text-secondary">OR</h5>
        <textarea
          rows="10"
          placeholder="Paste any text"
          class="form-control border border-primary"
          aria-label="With textarea"
        ></textarea>
        <button class="btn btn-success m-4">ASK</button>
      </div>
      
    </div>
  </body>
</html>
