<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form action="/ask" method="POST">
        <div class="pt-5 text-center">
          <input
            id="url"
            type="text"
            class="form-control border border-primary"
            placeholder="Paste the URL of any site"
            name="input-url"
          />
          <h5 class="p-2 text-secondary">OR</h5>
          <textarea
            id="text"
            rows="10"
            placeholder="Paste any text"
            class="form-control border border-primary"
            name="input-text"
          ></textarea>
          <button type="submit" class="btn btn-success m-4">ASK</button>
          <button id='clear_button' type="button" class="btn btn-danger m-4">Clear</button>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(window).on('load',() => {
        $("#url").on("keyup", () => {
          if ($("#url").val()) {
            $("#url").removeAttr("disabled");
            $("#text").attr("disabled", "disabled");
          } else {
            $("#text").removeAttr("disabled");
          }
        });
        $("#text").on("keyup", () => {
          if ($("#text").val()) {
            $("#text").removeAttr("disabled");
            $("#url").attr("disabled", "disabled");
          } else {
            $("#url").removeAttr("disabled");
          }
        });
        $('#clear_button').on('click',()=>{
            $("#url").removeAttr("disabled");
            $("#text").removeAttr("disabled");
            $("#url").val('');
            $("#text").val('');
        })
    });
    </script>
  </body>
</html>
